.Arena p {
  position: absolute;
  font-weight: bold;
}


.Arena .old {
  transform-origin: top left;
  animation: hide 1600ms 2000ms forwards;
}

.Arena .new {
  opacity: 0;
  animation: show 2200ms 2000ms forwards;
}



@keyframes hide {
  0% {
    color: red;
    opacity: .6;
  }
  100% {
    color: red;
    opacity: 0;
    transform: translateY(20px) rotate(10deg);

  }
}

@keyframes show {
  100% {
    opacity: 1;
  }
}
